
poetry
fastapi
sqlalchemy
uvicorn
alembic
pydantic-settings
asyncpg
pydantic[email]
greenlet
bcrypt==4.0.1
passlib[bcrypt]
python-jose
python-multipart
redis
celery
flower
Kombu
pillow
aiosmtplib
fastapi-cache2[redis]
sentry-sdk[fastapi]
pip-tools
pre-commit
prometheus_fastapi_instrumentator
gunicorn
starlette-exporter==0.15.1